body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(50, 50, 50);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(100, 100, 100);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#enderecoResultado, #previsaoResultado, #noticiasResultado {
    margin-top: 20px;
}

#map {
    height: 300px;
}